@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(27, 26, 26);
}

main {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 3rem;
}

h1, h3 {
    padding: 1rem;
    color: rgb(231, 234, 236);
}